
<!--<p class="f4 mb-4 text-gray">GitHub repositories that I've built.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% assign sort_order = 'pushed_at' %}
  
  {% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: sort_order | reverse %}

  {% for repository in filtered_repos %}
    {% unless site.projects.exclude.projects contains repository.name %}
      <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        {% include repo-card.html %}
      </div>
    {% endunless %}
  {% endfor %}
</div>
-->